* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(83, 160, 83);
}
h1.title {
    color: white;
    text-align: center;
    margin-top: 20px;
}
.container {
    width: 400px;
    min-height: 250px;
    border: 1px solid black;
    margin: 30px auto;
    padding: 18px;
}
label {
    display: block;
}
.btn {
    display: block;
}